<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ioblok.aliadosdiageo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_aliados"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">
        </activity>
        <activity
            android:name=".HelpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">
        </activity>
        <activity
            android:name=".utilis.WebViewManager"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">
        </activity>
        <activity
            android:name=".diageo.DiageoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".family.MenuFamilyActivity"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".contentfamily.ZacapaActivity"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".contentfamily.WalkerActivity"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".contentfamily.BuchanansActivity"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".contentfamily.TanquerayActivity"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".contentfamily.DonJulioActivity"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".categorias.MenuCategoriasActivity"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".categorias.MenuWhiskyActivity"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".categorias.MenuTequilaActivity"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".categorias.MenuRonActivity"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".categorias.MenuVodkaActivity"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".categorias.MenuGinActivity"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".categorias.MenuLicorActivity"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".procesos.MenuProcesosActivity"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".plataformas.procesos.MenuPlataformasActivity"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".servicio.MenuServicioActivity"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">
        </activity>

        <activity
            android:screenOrientation="portrait"
            android:name=".categorias.CaptainMorganContainerActivity"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".menu_principal.MenuPrincipalActivity"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">
        </activity>

        <!-- INTERIORES CATEGORIES WHISKY BLUE LABEL-->

        <activity
            android:screenOrientation="portrait"
            android:name=".categorias.content_whisky.JwBlueLabelContainerActivity"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".categorias.content_whisky.JwBlueLabelMensajesFragment"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".categorias.content_whisky.JwBlueLabelServirFragment"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".categorias.content_whisky.JwBlueLabelTourFragment"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">
        </activity>

        <!-- - - - - - - - - - - - - - - - - - - - - - - -->

        <!-- INTERIORES CATEGORIES WHISKY KING GEORGE -->
        <activity
            android:screenOrientation="portrait"
            android:name=".categorias.content_whisky.JwKingGeorgeActivity.JwKingGeorgeContainerActivity"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">
        </activity>

        <!-- INTERIORES CATEGORIES WHISKY DOUBLE BLACK LABEL -->
        <activity
            android:screenOrientation="portrait"
            android:name=".categorias.content_whisky.JwDoubleBlackLabel.JwDoubleBlackLabelContainerActivity"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">
        </activity>

        <!-- INTERIORES CATEGORIES WHISKY PLATINUM LABEL -->
        <activity
            android:screenOrientation="portrait"
            android:name=".drop_list"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">
        </activity>

        <activity
            android:screenOrientation="portrait"
            android:name=".categorias.DynamicDrinks"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">
        </activity>

        <!-- INTERIORES CATEGORIES WHISKY RED LABEL -->
        <activity
            android:screenOrientation="portrait"
            android:name=".categorias.content_whisky.JwRedLabel.JwRedLabelContainerActivity"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">
        </activity>


        <!-- INTERIORES CATEGORIES WHISKY GOLD LABEL RESERVE -->
        <activity
            android:screenOrientation="portrait"
            android:name=".categorias.content_whisky.JwGoldLabelReserve.JwGoldLabelReserveContainerActivity"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">
        </activity>

        <!-- INTERIORES CATEGORIES WHISKY BUCHANANS RED SEAL -->
        <activity
            android:screenOrientation="portrait"
            android:name=".categorias.content_whisky.BuchanansRedSeal.BuchanansRedSealContainerActivity"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">
        </activity>

        <!-- INTERIORES CATEGORIES WHISKY BLACKLABEL -->
        <activity
            android:screenOrientation="portrait"
            android:name=".categorias.content_whisky.JwBlackLabel.JwBlackLabelContainerActivity"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">
        </activity>

        <!-- INTERIORES CATEGORIES WHISKY BUCHANANS 18 -->
        <activity
            android:screenOrientation="portrait"
            android:name=".categorias.content_whisky.Buchanans18.Buchanans18ContainerActivity"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">
        </activity>


        <!-- INTERIORES CATEGORIES TEQUILA DON JULIO BLANCO -->
        <activity
            android:screenOrientation="portrait"
            android:name=".categorias.content_tequila.DonJulioBlanco.DonJulioBlancoContainerActivity"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">
        </activity>

        <!-- INTERIORES CATEGORIES TEQUILA DON JULIO AÑEJO -->
        <activity
            android:screenOrientation="portrait"
            android:name=".categorias.content_tequila.DonJulioAnejo.DonJulioAnejoContainerActivity"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">
        </activity>

        <!-- INTERIORES CATEGORIES TEQUILA DON JULIO REPOSADO -->
        <activity
            android:screenOrientation="portrait"
            android:name=".categorias.content_tequila.DonJulioReposado.DonJulioReposadoContainerActivity"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">
        </activity>

        <!-- INTERIORES CATEGORIES TEQUILA DON JULIO 70 -->
        <activity
            android:screenOrientation="portrait"
            android:name=".categorias.content_tequila.DonJulio70.DonJulio70ContainerActivity"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">
        </activity>

        <!-- INTERIORES CATEGORIES TEQUILA DON JULIO 1942 -->
        <activity
            android:screenOrientation="portrait"
            android:name=".categorias.content_tequila.DonJulio1942.DonJulio1942ContainerActivity"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">
        </activity>

        <!-- INTERIORES CATEGORIES TEQUILA DON JULIO ReaL -->
        <activity
            android:screenOrientation="portrait"
            android:name=".categorias.content_tequila.DonJulioReal.DonJulioRealContainerActivity"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">
        </activity>

        <!-- TOUR DE BOTELLAS BAILEYS  -->

        <activity
            android:screenOrientation="portrait"
            android:name=".categorias.content_licor.Baileys.BaileysTourFragment"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">
        </activity>
        <!-- - - - - - - - - - - - - - - - - - - - - - - -->

    </application>
</manifest>
